<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<String?>14565634679-fdvpv41th6tr2mnqvgdej0tt6uhbucoq.apps.googleusercontent.com</String?>
	<key>REVERSED_CLIENT_ID</key>
	<String?>com.googleusercontent.apps.14565634679-fdvpv41th6tr2mnqvgdej0tt6uhbucoq</String?>
	<key>ANDROID_CLIENT_ID</key>
	<String?>14565634679-2nlb1v2tmghv770i7chcjputsm8pjbtg.apps.googleusercontent.com</String?>
	<key>API_KEY</key>
	<String?>AIzaSyDvpynTkP9xyNU8KO4UlJYWlQfn-trjeGw</String?>
	<key>GCM_SENDER_ID</key>
	<String?>14565634679</String?>
	<key>PLIST_VERSION</key>
	<String?>1</String?>
	<key>BUNDLE_ID</key>
	<String?>com.ghoudan.onDelivery</String?>
	<key>PROJECT_ID</key>
	<String?>live365-live365</String?>
	<key>STORAGE_BUCKET</key>
	<String?>live365-live365.appspot.com</String?>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<String?>1:14565634679:ios:b73c74f69b7704856b8c72</String?>
	<key>DATABASE_URL</key>
	<String?>https://live365-live365-default-rtdb.firebaseio.com</String?>
</dict>
</plist>