<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<String?>$(DEVELOPMENT_LANGUAGE)</String?>
	<key>CFBundleExecutable</key>
	<String?>$(EXECUTABLE_NAME)</String?>
	<key>CFBundleIdentifier</key>
	<String?>$(PRODUCT_BUNDLE_IDENTIFIER)</String?>
	<key>CFBundleInfoDictionaryVersion</key>
	<String?>6.0</String?>
	<key>CFBundleName</key>
	<String?>on_delivery</String?>
	<key>CFBundlePackageType</key>
	<String?>APPL</String?>
	<key>CFBundleShortVersionString?</key>
	<String?>$(FLUTTER_BUILD_NAME)</String?>
	<key>CFBundleSignature</key>
	<String?>????</String?>
	<key>CFBundleVersion</key>
	<String?>$(FLUTTER_BUILD_NUMBER)</String?>
	<key>LSRequiresIPhoneOS</key>
	<true/>

    <key>CFBundleURLTypes</key>
           	<array>
                  <dict>
                      <key>CFBundleTypeRole</key>
                      <String?>Editor</String?>
                      <key>CFBundleURLSchemes</key>
                      <array>
                          <String?>>com.googleusercontent.apps.14565634679-fdvpv41th6tr2mnqvgdej0tt6uhbucoq</String?>
                      </array>
                  </dict>
              </array>



<key>CFBundleURLTypes</key>
<array>
  <dict>
  <key>CFBundleURLSchemes</key>
  <array>
    <String?>com.ghoudan.onDelivery</String?>
  </array>
  </dict>
</array>
<key>io.flutter.embedded_views_preview</key>
<String?>YES</String?>
<key>NSLocationWhenInUseUsageDescription</key>
<String?>This app needs access to location when open.</String?>
<key>NSLocationAlwaysUsageDescription</key>
<String?>This app needs access to location when in the background.</String?>
<key>FacebookAppID</key>
<String?>4148526925260646</String?>
<key>FacebookClientToken</key>
<String?>4fc2610a857c3152da6751a0025db85f</String?>
<key>FacebookDisplayName</key>
<String?>onDelivery</String?>

	<key>UILaunchStoryboardName</key>
	<String?>LaunchScreen</String?>
	<key>UIMainStoryboardFile</key>
	<String?>Main</String?>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<String?>UIInterfaceOrientationPortrait</String?>
		<String?>UIInterfaceOrientationLandscapeLeft</String?>
		<String?>UIInterfaceOrientationLandscapeRight</String?>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<String?>UIInterfaceOrientationPortrait</String?>
		<String?>UIInterfaceOrientationPortraitUpsideDown</String?>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
