<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <String?>en</String?>
  <key>CFBundleExecutable</key>
  <String?>App</String?>
  <key>CFBundleIdentifier</key>
  <String?>io.flutter.flutter.app</String?>
  <key>CFBundleInfoDictionaryVersion</key>
  <String?>6.0</String?>
  <key>CFBundleName</key>
  <String?>App</String?>
  <key>CFBundlePackageType</key>
  <String?>FMWK</String?>
  <key>CFBundleShortVersionString?</key>
  <String?>1.0</String?>
  <key>CFBundleSignature</key>
  <String?>????</String?>
  <key>CFBundleVersion</key>
  <String?>1.0</String?>
  <key>MinimumOSVersion</key>
  <String?>8.0</String?>
</dict>
</plist>
